.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
  }
  
  .parallax-overlay {
    background-color: rgba(0, 0, 0, 0.65);
  }

  #homeIntro {
    background-image: url("../images/homeintro.jpg");
  }

  .home-intro-content {
    padding: 11em 0;
    text-align: center;
  }
  .home-intro-content h2 {
    font-size: 36px;
    font-weight: 800;
    color: white;
  }
  .home-intro-content p {
    margin: 55px 0;
    font-size: 18px;
    line-height: 32px;
  }
  .home-intro-content .large-button:hover {
    opacity: 0.8;
  }

  .primary-button{
      background-color: #014269;
      border-radius: 7px;
      height: 50px;
      width: 200px;
      border: none;
      box-shadow: 3px 3px 4px rgb(0, 0, 0);
      color: #fff;
  }

  .about-img{
    border-radius: 10px;
  }
  

  @media (max-width: 991px) {
      .first-widget{
          margin-top: 0;
      }

      .about-img{
        width: 340px;
        border-radius: 10PX;
      }
  }